{% extends 'base.html' %}
{% block body %}<div class="container">
    <div class="row">
        <div class="col-md-6">
            <img src="{{carlist.img.url}}" width="400px;" height="300px;"><br>
        </div>


 <div class="container">
        {{carlist.name}}<br>
        {{carlist.desc}}<br>

       {{carlist.year}}<br>
<a class="btn btn-warning" href="{% url 'listapp:update' carlist.id %}">update</a><br>
<a class="btn btn-danger" href="{% url 'listapp:delete' carlist.id%}">Delete</a>
    </div>
    </div>
</div>
     {% endblock %}
